@keyframes updownR {
  0% {
    transform: translateY(0px);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  50% {
    transform: translateY(-96px);
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
}

@keyframes jump {
  0% {
    top: 0;
  }
  50% {
    top: 30px;
  }
  100% {
    top: 0;
  }
}


@keyframes type {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  19% {
    border-right: 1px solid rgba(var(--light-rgb), 0.75);
  }
  20%{
    border: none;
  }
  100% {
    opacity: 1;    
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
