/** CSS Variables **/
:root {
  --pink: #E91E63;
  --accent: #F9DC5C;
  --light: #F4FFFD;
  --dark: #011936;

  --pink-rgb: 233,30,99;
  --yello-rgb: 249, 220, 92;
  --green-rgb: 139, 195, 74;
  --light-rgb: 244, 255, 253;
  --dark-rgb: 1, 25, 54;

  --primary: var(--pink);
  --primary-rgb: var(--pink-rgb);

  --secondary: var(--accent);
  --secondary-rgb: var(--yellow-rgb);

  --circle: #d50000;
  --display: none;

  --intro-animation-size: 18.5em;
}
