.preload {
    overflow: hidden;
}

.preload * {
    transition: none !important;
}


.loading {
    color: white;
    display: flex;
    align-items: center;
    background: var(--dark-color);
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 100;
}

.loading-svg {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 126px;
    position: absolute;
    z-index: 110;
}

.loading-svg .triangle{
    animation: updownR .4s infinite linear;
}

.loading-svg .square{
    animation: updownR .8s infinite linear;
}

.loading-svg .cricle{
    animation: updownR .6s infinite linear;
}

