/** CSS Variables **/
:root {
  --body-background: #e9e9e9;
  --section-background: white;
  --primary-color: 233, 30, 99;
  --circle-color: #D50000;
  --dark-color: black;

  --display-canvas-info: none;
}

/** Global Settings **/
html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: var(--body-background);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

/** Header **/
header {
  background: var(--dark-color);
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 1.2em 2em;
  position: fixed;
  width: 100%;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

/** Header > brand **/
.brand {
  font-size: 2em;
}

.brand i {
  color: rgb(var(--primary-color));
}

/** Header > nav**/
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

nav li {
  margin-top: 1em;
}

nav li + li {
  margin-left: 1em;
}

nav a {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  transition: 0.4s;
}

nav a:visited {
  color: inherit;
}

.github:hover,
.github:focus,
nav a:hover,
nav a:focus {
  color: rgb(var(--primary-color));
}

nav a i {
  font-size: 1.5em;
  margin-right: 0.2em;
}

nav a span {
  display: none;
}

/** Section **/
section {
  font-size: 1.18em;
  min-height: 100%;
  padding: 7em 2em 2em 2em;
  width: 100%;
}

section h2 {
  font-size: 2em;
  text-align: center;
}

section h2::after {
  background: rgb(var(--primary-color));
  content: "";
  display: block;
  height: 0.2em;
  margin: 0.3em auto;
  width: 2em;
}

section .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

section .container > * {
  flex: 1 100%;
}

section .container a {
  color: rgb(var(--primary-color));
  font-weight: 500;
}

section .container i {
  color: rgb(var(--primary-color));
}

.image-responsive {
  width: 100%;
}

#canvas {
  height: 32rem;
  width: 100%;
}

.canvas-container {
  background: white;
  padding: 1em;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
              0 2px 2px 0 rgba(0,0,0,.14),
              0 1px 5px 0 rgba(0,0,0,.12);
}

.canvas-container p {
  margin: 0;
}

.canvas-container .info{
  display: flex;
  justify-content: space-between;
}

.canvas-container #canvas-info {
  display: var(--display-canvas-info);
}

.canvas-container .button{
  background: var(--dark-color);
  color: rgb(var(--primary-color));
  border: none;
}

.text{
  fill: var(--dark-color);
}

.circle {
  stroke: var(--circle-color);
  stroke-width: 1;
  fill: none;
}

.polygon {
  stroke: #1A237E;
  stroke-width: 1;
  fill: none;
}

/** Desktop Settings **/
@media only screen and (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  nav li {
    margin-top: 0;
  }

  nav a span {
    display: block;
  }

  section {
    padding: 4em 2em 0 2em;
    width: 80%;
    margin: auto;
  }

  section .container {
    flex-wrap: initial;
  }

  section .content + .content {
    margin-left: 2.5em;
  }
}
