/** Global Settings **/
html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--light-color);
}

.box-shadow {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
              0 2px 2px 0 rgba(0,0,0,.14),
              0 1px 5px 0 rgba(0,0,0,.12);
}

.desktop-only {
  display: none;
}

.mousemove{
  position: absolute;
  float: left;
}

.opacity {
  opacity: 0.5;
}

.button{
  background: var(--dark-color);
  border: none;
  border-radius: 0.5em;
  color: var(--light-color);
  cursor: pointer;
  font-size: 0.8em;
  padding: 0.5em 1em;
  transition: 0.4s;
  outline: none;
}

.target{
  color: rgb(var(--primary-color));
  display: block;
  font-size: 1.2em;
  text-align: center;
  margin-top: 2em;
  animation: jump 1s infinite;
  position: relative;
  transition: 1s;
}

.target span {
  display: block;
}

.target:hover{
  color: var(--dark-color);
}

/** Header **/
header {
  background: var(--dark-color);
  color: var(--light-color);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 1.2em 2em;
  position: fixed;
  width: 100%;
  z-index: 220;
}

/** Header > brand **/
.brand {
  font-size: 2em;
}

.brand i {
  color: rgb(var(--primary-color));
}

/** Header > nav**/
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

nav li {
  margin-top: 1em;
}

nav li + li {
  margin-left: 1em;
}

nav a {
  display: flex;
  align-items: center;
  font-size: 1.3em;
  font-weight: 300;
  padding: 0.5em 1em;
  transition: 0.4s;
}

nav a:visited {
  color: inherit;
}

.github:hover,
.github:focus,
nav a:hover,
nav a:focus {
  color: rgb(var(--primary-color));
}

nav a i {
  margin-right: 0.2em;
}

nav a span {
  display: none;
}

.banner{
  align-items: center;
}

.banner-text{
  border-right: 2px solid rgba(var(--primary-color),.75);
  font-weight: 300;
  font-size: 3em;
  text-align: center;
  white-space: nowrap;
  word-wrap: break-word;
  overflow: hidden;
  transform: translateY(-50%);
  width: 11.5em;
  margin: 0 auto;
  position: relative;
  animation: typewriter 3s steps(24) 3s 1 normal both,
             blinkTextCursor 500ms steps(24) infinite normal;
}

.banner-text i {
  color: rgb(var(--primary-color));
}

/** Section **/
section {
  font-size: 1.5em;
  font-weight: 300;
  min-height: 100%;
  padding: 7em 1em 2em 1em;
  width: 100%;
}

section.background {
  background: var(--gray-100);
}

section h2,
section h4 {
  text-align: center;
}

section h2::after {
  background: rgb(var(--primary-color));
  content: "";
  display: block;
  height: 0.2em;
  margin: 0.3em auto;
  width: 2em;
}

section .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

section .container > * {
  flex: 1 100%;
}

section .container a,
section .container i {
  color: rgb(var(--primary-color));
  font-weight: 600;
}

section .container ul {
  padding-left: 1em;
}

section .container figure {
  margin: 0;
  text-align: center;
}

section .container figcaption{
  font-size: 1.2em;
}

section .container .image {
  border-radius: 15em;
  width: 45%;
}

section .canvas-container {
  padding: 1em;
}

section .mask {
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 36rem;
}

section .start {
  font-size: 1em;
  display: initial;
}

section .mask svg {
  display: var(--display);
}

section .canvas-container svg{
  width: 100%;
  height: 36rem;
}

section .canvas-container p {
  margin: 0;
}

section .canvas-container .canvas-info {
  display: var(--display);
  justify-content: space-between;
  align-items: center;
}

section .canvas-container ul {
  margin: 0;
}

section .canvas-container .button:hover{
  color: rgb(var(--primary-color));
}

section .canvas-container .text{
  fill: var(--dark-color);
}

section .canvas-container .circle {
  stroke: var(--circle-color);
  stroke-width: 1;
  fill: none;
}

section .canvas-container .polygon {
  stroke: #1A237E;
  stroke-width: 1;
  fill: none;
}

.footer{
  background: rgb(var(--primary-color));
  color: var(--dark-color);
  text-align: center;
  padding: 0.2em;
}

/** Desktop Settings **/
@media (min-width: 600px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  nav li {
    margin-top: 0;
  }

  nav a span {
    display: block;
  }

  .desktop-only {
    display: flex;
  }

  section {
    padding: 4em 2em 0 2em;
  }

  section .container {
    width: 80%;
    margin: auto;
    flex-wrap: initial;
  }

  section .content + .content {
    margin-left: 2.5em;
  }
}
